---
---

@import "{{ site.theme }}";
.main-content {
  h1 {
   color: #ff0000;
 }
}

body {
  background: #ddd;
  color: #222;
}

body.dark {
  background: #222;
  color: #eee;
}

strong {
  font-weight: bold;
  color: #222;
}

.dark strong {
  font-weight: bold;
  color: #fff;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5 {
  color: #8be;
}

header {
  padding: 5px 20px 4px 20px;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 70px;
}

.wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto 0;
}

.wrapper-inner {
  position: relative;
  width: 970px;
  margin-left: 200px;
}

nav {
  position: fixed;
  width: 230px;
  top: 200px;
  left: initial;
  margin-left: -240px;
  text-align: right;
}

nav ul a {
    color: #222;
}

.dark nav ul a {
    color: #666;
}

section {
  position: relative;
  width: 100%;
  padding: 15px 15px 15px 15px;
  margin: 130px 0 0;
  background: #fbfbfb;
  border-radius: 6px;
  border: 1px solid #cbcbcb;
}

.dark section {
  background: #555;
  border: 1px solid #cbcbcb;
  box-shadow: 0px 1px 2px #222, inset 0px 0px 2px 2px #222;
}


footer {
  width: 230px;
  position: fixed;
  left: initial;
  margin-left: -240px;
  bottom: 20px;
  text-align: right;
  line-height: 16px;
}
  
#banner {
  position: fixed;
  z-index: 100;
  width: 1200px;
  height: 40px;
  left: 0;
  right: 0;
  top: 82px;
  padding: 2px 0 0;
  margin: 0 auto;
  background: #666;
  border: 1px solid #aaa;
  border-radius: 0px 2px 2px 0px;
}

#banner .button {
  border: 1px solid #CCC;
  background: linear-gradient(#06a, #08a);
  border-radius: 5px;
  padding: 10px 12px;
  margin-top: 6px;
  line-height: 10px;
  font-size: 14px;
  font-weight: bold;
}
