---
---

@import "{{ site.theme }}";
.main-content {
  h1 {
   color: #ff0000;
 }
}

section {
  width: 900px;
  padding: 30px 30px 50px 30px;
  margin: 20px 0;
  margin-top: 190px;
  position: relative;
  background: #fbfbfb;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.09),inset 0px 0px 2px 2px rgba(255,255,255,0.5),inset 0 0 5px 5px rgba(255,255,255,0.4);
}

#banner {
    z-index: 100;
    left: 0;
    right: 0;
    height: 50px;
    margin-right: 0px;
    position: fixed;
    top: 82px;
    background: #ccc;
    border: 1px solid #aaa;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 25%);
    border-radius: 0px 2px 2px 0px;
    padding-right: 10px;
}

#banner .fork {
    position: fixed;
    left: 50%;
    margin-left: -325px;
    padding: 10px 12px;
    margin-top: 6px;
    line-height: 10px;
    font-size: 14px;
    background-color: #red;
}

#banner .button {
    border: 1px solid #CCC;
    background: linear-gradient(#06a, #08a);
    border-radius: 5px;
    padding: 10px 12px;
    margin-top: 6px;
    line-height: 14px;
    font-size: 14px;
    font-weight: bold;
}


